{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "alpha"
},
classes: "no-border",
html: 'This is a new service – your <a class="govuk-link" href="/give-feedback">feedback</a> will help us to improve it.'
}) }}
</div>
<div class="app-navigation govuk-clearfix">
  <ul class="app-navigation__list govuk-width-container">
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="https://www.gov.uk/service-manual" data-topnav="Get started">GOV.UK Service Toolkit</a>
    <li class="app-navigation__list-item app-navigation__list-item--current">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">DfE guidance and tools</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">Assessments</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">In-house services</a>
    <li class="app-navigation__list-item">
      <a class="govuk-link govuk-link--no-visited-state app-navigation__link govuk-!-font-weight-bold" href="/get-started/" data-topnav="Get started">Training</a>

  </ul>
</div>
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="guidance-and-tools">DfE guidance and tools</a>
      </li>
    </ol>
  </div>
  {% endblock %}
  {% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="app-subnav__section">
        <li class="app-subnav__section-item app-subnav__section-item--current"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/intro-to-delivery">Introduction</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/service-owner-guidance">Service ownership </a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="#">Agile delivery and working practice</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/transformation-aims">Transformation aims</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/servicelist">List of DfE services</a></li>
        <li class="app-subnav__section-item"><a class="app-subnav__link govuk-link govuk-link--no-visited-state" href="/ddat-business-partners">DDaT business partners</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Introduction to delivery</h1>
      <div class="govuk-inset-text">
This is "for now" text. The page will be designed by the Head of Delivery Management in collaboration with the UCD Lab (on Delivery Book) and Major Projects delivery team.</div>
  <h3 class="govuk-heading-m">Our service owner model</h3>
    <p class="govuk-body">In DfE we have moved past traditional civil service methods of working and have developed the service ownership model. This brings multidisciplinary teams - policy and delivery teams - together to deliver better services and better policy under a Service Owner Model.
</p>
    <p class="govuk-body">Where possible, we have one service owner who is responsible for all of it, for the policy and the service that users experience it through. That way there’s no divide between policy and delivery; or between delivery and the maintenance and improvement of the live services.
</p>
  <h3 class="govuk-heading-m">We are one team.</h3>
  <p class="govuk-body">No matter where you are working within it. What matters is meeting user needs by making sure that policy and service objectives can adapt and respond to user research.

You can read more about the Service Owner Model and how we make it work in this <a href="#">blog post</a>.</p>

    </div>
   </div> {% endblock %}
